
<meta charset="UTF-8">

<meta name="author" content="${blog.author.name} - ${blog.author.email}">
<meta name="keywords" content="${blog.keywords}">
<meta name="description" content="${description}">

<meta name="og:title" content="${og.title}">
<meta name="og:type" content="${og.type}">
<meta name="og:image" content="${og.image}">
<meta name="og:url" content="${og.url}">
<meta name="og:locale" content="en_UK">
<meta name="og:site_name" content="weaver.skepti.ch">

<meta name="DC.Title" content="${og.title}">
<meta name="DC.Date" content="${date}">
<meta name="DC.Creator" content="${blog.author.name}">
<meta name="DC.Description" content="${twitter.description}">
<meta name="DC.Identifier" content="${uri}">
<meta name="DC.Language" content="en_UK">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="${twitter.title}">
<meta name="twitter:description" content="${twitter.description}">
<meta name="twitter:image" content="${twitter.image}">
<meta name="twitter:site" content="${blog.tusername}">
<meta name="twitter:creator" content="${blog.tusername}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="${blog.uri}/atom.xml" rel="alternate" title="${blog.title}" type="application/atom+xml" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">

<link href="reset.css" rel="stylesheet" type="text/css" />
<link href="style.css?mt=${blog.css_mtime}" rel="stylesheet" type="text/css" />

<script src="h-1.2.0-4440dbe.min.js"></script>

<link rel="me" href="mailto:jmettraux+weaver@gmail.com" />

<link rel="webmention" href="https://webmention.io/weaver.skepti.ch/webmention" />
<link rel="pingback" href="https://webmention.io/weaver.skepti.ch/xmlrpc" />

<script type="text/javascript">
  try { window.clog = console.log; } catch(err) {}
  function toggleBlogImage() {
    if ((new Date()).getSeconds() % 3 !== 1) return;
    H.elt('img.brand').src = 'images/weaver.jpg';
  }
</script>

