
<meta charset="UTF-8">

<meta name="author" content="${blog.author.name} - ${blog.author.email}">
<meta name="keywords" content="${blog.keywords}">
<meta name="description" content="${description}">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="${twitter.title}">
<meta name="twitter:description" content="${twitter.description}">
<meta name="twitter:image" content="${twitter.image}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="${blog.uri}/atom.xml" rel="alternate" title="${blog.title}" type="application/atom+xml" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">

<link href="reset.css" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />

<!--
<link rel="stylesheet" href="highlight.css">
<script src="highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
-->

<script src="h-1.2.0-4440dbe.min.js"></script>

<!--
<script type="text/javascript">
window.clog = console.log;
</script>
-->

