<!DOCTYPE html>
<html>
<head>
<title>${blog.title} - all</title>
${partial('head.html')}
${partial('favicon.html')}
</head>
<body>
<div id="content">

  ${partial('blog_title.html')}

  <p>
    <a href="index.html">index</a>
    |
    <a style="display: none;" href="all.html" class="all-tags">all tags</a>
    ${ALL_TAGS}
  </p>

  ${CONTENT}

  <p class="foot-links">
    <!--<a href="https://github.com/jmettraux/weaver/">source</a>-->
    <a href="copyright.html">copyright</a>
  </p>
</div>

${partial('filters.html')}
${partial('gauges.html')}
</body>
</html>

