<!DOCTYPE html>
<html>
<head>
<title>${blog.title}</title>
${partial('head.html')}
${partial('favicon.html')}
</head>
<body id="index">
<div id="content">

${partial('blog-title.html')}

<!--
<p>
  <a href="mailto:jmettraux+weaver@gmail.com">jmettraux+weaver@gmail.com</a>
</p>
-->

<p class="links">
<a style="display: none;" href="index.html" class="all-tags">all tags</a>
${ALL_TAGS}
</p>

${CONTENT}

<p class="foot-links">
<!--<a href="https://github.com/jmettraux/weaver/">source</a>-->
<a href="copyright.html">copyright</a>
</p>
</div>

${partial('filters.html')}

<img class="pix" src="images/pix.png?t=index" loading="lazy" />
</body>
</html>

