<!DOCTYPE html>
<html>
<head>
<title>${blog.title} - ${title}</title>
${partial('head.html')}
${partial('head-article.html')}
${partial('favicon.html')}
<style>
  h2:first-of-type { display: none; }
</style>
</head>
<body class="post h-entry">
${partial('post-meta.html')}
<div id="content" class="e-content">
${partial('post-title.html')}
<div class="nav">
  ${PREV}
  <div class="index"><a href="/index.html?f=hd__${id}__${_title}">index ↑</a></div>
  ${NEXT}
</div>

${CONTENT}

<img class="pix" src="/images/pix.png?t=${_title}" loading="lazy" />

<div class="links">
  <a href="/index.html?f=ft__${id}__${_title}">index↑</a>
  <a title="jmettraux+weaver${id}@gmail.com?subject=comment__${_title}" href="mailto:jmettraux+weaver${id}@gmail.com?subject=comment__${_title}">comment</a>
  <!--
  <a href="https://github.com/jmettraux/weaver/tree/master/posts/${id}.md">source</a>
  -->
  <a href="copyright.html">copyright</a>
  <a class="twitter" href="${blog.tsite}"><img src="images/twitter.svg"></a>
  <a class="atom" href="${blog.asite}"><img src="images/rss.svg"></a>
  <span class="tags">${TAGS}</span>
</div>
</div>
<script type="text/javascript">H.onDocumentReady(toggleBlogImage);</script>
</body>
</html>

