<!DOCTYPE html>
<html>
<head>
<title>${blog.title} - ${title}</title>
${partial('head.html')}
${partial('favicon.html')}
<style>
  h2 { display: none; }
</style>
</head>
<body class="post h-entry">
${partial('post-meta.html')}
<div id="content" class="e-content">
${partial('post-title.html')}
<div class="nav">${PREV}${NEXT}</div>
${CONTENT}
<div class="links">
  <a href="index.html">index</a>
  <a href="all.html#${id}">all/#${id}</a>
  <a href="mailto:jmettraux+weaver${id}@gmail.com">comments</a>
  <!--
  <a href="https://github.com/jmettraux/weaver/tree/master/posts/${id}.md">source</a>
  -->
  <a href="copyright.html">copyright</a>
  |
  <span class="tags">${TAGS}</span>
</div>
</div>
</body>
</html>

